div {
  mat-card {
    max-height: 700px;
    overflow: auto;
    mat-card {
      background-color: #fafafa;
      margin-bottom: 10px;
    }
  }
}

.main-container {
  width: 100%;
  height: 90%;
}

#add-button {
  width: 80px;
  height: 80px;
  background-color: #6bdba5 !important;
  color: #ffffff;
}

#add-icon {
  transform: scale(1.5);
}

.category-container {
  background-color: #a088fe;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  max-width: fit-content;
}

.date-container {
  display: flex;
  align-items: center;
}

.tags-container {
  display: flex;
  flex-direction: row;
}

.delete-button {
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #484f5e !important;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-container > div,
span {
  flex: 1 1 auto;
  margin: 5px;
}
