<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <h2>Sign Up</h2>
  <mat-form-field appearance="fill" class="form-input">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-input">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-input">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="Password"
      formControlName="password"
    />
  </mat-form-field>
  <div class="form-buttons">
    <button
      type="button"
      id="close-button"
      mat-raised-button
      color="primary"
      (click)="closeModal()"
    >
      Close
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="signUpForm.invalid"
    >
      Sign Up
    </button>
  </div>
</form>
