<mat-card fxFlex="100">
  <mat-card>
    <span>notification</span>
    <div>
      <mat-icon>query_builder</mat-icon>
      <span>hour</span>
    </div>
  </mat-card>
  <mat-card>
    <span>notification</span>
    <div>
      <mat-icon>query_builder</mat-icon>
      <span>hour</span>
    </div>
  </mat-card>
  <mat-card>
    <span>notification</span>
    <div>
      <mat-icon>query_builder</mat-icon>
      <span>hour</span>
    </div>
  </mat-card>
  <mat-card>
    <span>notification</span>
    <div>
      <mat-icon>query_builder</mat-icon>
      <span>hour</span>
    </div>
  </mat-card>
  <mat-card>
    <span>notification</span>
    <div>
      <mat-icon>query_builder</mat-icon>
      <span>hour</span>
    </div>
  </mat-card>
</mat-card>
