.main-container {
  width: 100%;
  height: 100%;
  background-color: #a088fe;
  color: white;
}

.logo-container {
  height: 200px;
  padding: 40px;
  width: 400px;
  background-image: url("../../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.background-container {
  background-image: url("../../../assets/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 3%;
  margin-top: 3%;
}

mat-toolbar {
  background-color: #a088fe;
  color: white;
  padding: 20px 0;
  height: 10%;
}

.side-container {
  height: 90%;
}

.right-container {
  margin-top: 15%;
  margin-left: 7%;
}

ul li {
  list-style: none;
}

button {
  font-size: 25px;
  font-weight: 300;
  margin-right: 10px;
  padding: 20px;
  border-radius: 25px;
}

#login-button {
  background-color: #f1c543;
}

h1 {
  font-size: 75px;
  margin-bottom: 7%;
}

h2 {
  font-size: 40px;
  font-weight: 120;
}
